/* nav start */
.div-parent{display:flex;justify-content: space-between;
    max-width: 1000px; margin:0px auto;}
.center-div ul{display:flex;gap:30px;}
  .li-parent li {list-style:none;}
  .center-div ul li a{text-decoration:none}
 button{background-color:blue;color:aliceblue;
padding: 10px 15px;border-radius:5px;}
.logo{width:20px;}
/*nav end*
/*hero section start*/




  


